{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered Conversation Tool - Exit</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'scripts/scripts.js' %}" defer></script>
</head>
<body>
    <h1>Thank You for Using the AI-Powered Conversation Tool!</h1>
    <p>We appreciate your time. If you have any feedback, please let us know <a href="https://rit.az1.qualtrics.com/jfe/form/SV_aauyvlW0aZvBKxo" id="feedback-link">here</a>.</p>

    <button onclick="returnToHome()">Return to Home</button>

</body>
</html>