{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered Conversational Tool</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'images/imagefavicon.png' %}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="{% static 'scripts/scripts.js' %}" defer></script> <!-- Load QR Code Library from CDN -->
</head>
<body>
    <h1>Welcome to the Kiosk Assistive Conversational Tool</h1>
    <p>Scan the QR code below to join the conversation from your personal device.</p>

    <div id="qr-container-index">
        <div id="qr-code-index"></div> <!-- QR Code will be generated here -->
    </div>

    <p>After scanning, you will be able to choose your input method.</p>
</body>
</html>